.idea/
__pycache__/
metanit/media/

# Packages
**/__pycache__
*.py[cod]
*$py.class

# catalogs
venv
.venv
packages
SQL
info
.vscode
.pytest_cache
data

# files
/*.xlsx
.env.test
.env

# Rope
.ropeproject

metanit/static
deploy/**/id_rsa*

