.card{
    width: 100%;
    height: auto;
    padding: 2em;
    border: 2px solid #000;
    font-family: 'Jost', sans-serif;
    margin-top: 30px;
    padding: 15px;
}

.club_title {
    text-align: left;
    font-size: 50px;
    color: rgb(8, 8, 49);
    font-family: 'Jost', sans-serif;
    padding: 10px;
  }
  
.card-title{
    font-size: 30px;
    font-weight: 700;
    color: #7b68ee;
}

.card-button {
    width: 200px;
    background-color: #7b68ee;
    border: none;
    color: white;
    border-radius: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.disabled-card-button {
    opacity: 0.6;
    cursor: not-allowed;
    width: 200px;
    background-color: #7b68ee;
    border: none;
    color: white;
    border-radius: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}